name: Tag mirror versions

on:
  push:
    branches:
      - main
    paths:
      - "operators.yaml"
      - "mirrors/**"

jobs:
  tag-versions:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure git
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'

      - name: Run mirrorer tag
        run: make tag

      - name: Push tags
        run: git push origin --tags